.debug {
  border: 2px dotted blue;
  background-color: pink;
}

.some-space {
  margin: auto 0;
}

.jumbotron {
  background: none;
}

.set-item-width {
  width: 95%;
}

.set-margin-vertical {
  margin-top: 5%;
  margin-bottom: 5%;
}

.set-margin-horizontal {
  margin-top: 5%;
  margin-bottom: 5%;
}

.inp {
  margin: 3% auto 3% auto;
}

.blackfonts {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #005C54;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

#logo {
  letter-spacing: 0.1em;
  color: #00EEC9;
  font-family: 'Nunito', sans-serif;
}

#bottomline {
  letter-spacing: 0.2em;
  font-size: 1.4em;
}

.item-viewport {
  background-color: #f2e394; 
  margin: 2% auto;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}