.debug {
  border: 2px dotted blue;
  background-color: pink;
}

.some-space {
  margin: auto 0;
}

.jumbotron {
  background: none;
}

.set-item-width {
  width: 95%;
}

.set-margin-vertical {
  margin-top: 5%;
  margin-bottom: 5%;
}

.set-margin-horizontal {
  margin-top: 5%;
  margin-bottom: 5%;
}

.inp {
  width: 40%;
}

.blackfonts {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #005C54;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

#logo {
  letter-spacing: 0.1em;
  color: #00EEC9;
  font-family: 'Nunito', sans-serif;
}

#bottomline {
  letter-spacing: 0.2em;
  font-size: 1.4em;
}

.item-viewport {
  background-color: #f2e394; 
  margin: 2% auto;
}